<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>새 상품 등록</title>
</head>
<body class="container-fluid">
<h1>새 상품 등록</h1>
<form th:action="@{/items/new}" th:object="${item}" method="post">
    <div class="mb-3">
        <label th:for="name" class="form-label">상품 이름</label>
        <input type="text" class="form-control" th:field="*{name}" placeholder="상품 이름을 입력하세요">
    </div>
    <div class="mb-3">
        <label th:for="price" class="form-label">가격</label>
        <input type="number" class="form-control" th:field="*{price}" placeholder="상품 가격을 입력하세요">
    </div>
    <div class="mb-3">
        <label th:for="stock" class="form-label">재고</label>
        <input type="number" class="form-control" th:field="*{stock}" placeholder="상품 재고 수를 입력하세요">
    </div>
    <div class="mb-3">
        <label th:for="type" class="form-label">종류</label>
        <select id="type" name="type" class="form-select">
            <option th:selected>종류를 선택해주세요</option>
            <option th:each="option : ${typeOptions}" th:value="${option}" th:text="${option.getName()}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">상품 추가하기</button>
    <a th:href="@{/items/}" class="btn btn-primary" type="button">목록으로 돌아가기</a>
    <a th:href="@{/}" class="btn btn-primary" type="button">메인 화면으로</a>
</form>
</body>
</html>